<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428899873597-diq8qj0i12pmo3b54pmrndolnnb983gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428899873597-diq8qj0i12pmo3b54pmrndolnnb983gv</string>
	<key>API_KEY</key>
	<string>AIzaSyDHX_r4tBKmz92QsZnTNtQa2RVHc2M3Jwo</string>
	<key>GCM_SENDER_ID</key>
	<string>428899873597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lajos.videocallapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-4c4f2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-4c4f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428899873597:ios:6183b08191a8583df30b54</string>
</dict>
</plist>